body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(90deg, hsla(282, 58%, 47%, 1) 0%, 
                                       hsla(210, 80%, 29%, 1) 25%, 
                                       rgb(15, 133, 113) 50%, 
                                       hsla(210, 80%, 29%, 1) 75%,  
                                       hsla(282, 58%, 47%, 1) 100%);
    animation: gradient 40s ease infinite;
    background-size: 300% 300%;
}

h1 {
    color: white;
    font-size: 35px;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
}

.events {
    width: 80%;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 15px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    margin-bottom: 50px;
}

.event {
    width: 550px;
    border-radius: 10px;
    margin: 2.5% 2.5% 2.5% 2.5%;
    background-color: rgb(225, 225, 225);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.event-title {
    font-size: 18px;
    text-align: center;
    height: 5%;
}
.event-info {
    width: 100%;
    height: 60%;
    display: flex;
}

.image {
    width: 45%;
    margin-left: 2.5%;
    height: 180px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.description {
    width: 45%;
    margin-left: 2.5%;
}

.date-hour-place {
    text-align: right;
    margin-right: 50px;
}

.access-button {
    width: 300px;
    height: 30px;
    margin-top: 5px;
    margin-bottom: 20px;
    margin-left: 125px;
    font-size: 18px;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: linear-gradient(90deg, hsla(167, 57%, 48%, 1) 0%, hsla(112, 72%, 62%, 1) 100%);
    border: none;
    border-radius: 10px;
    transition: 0.5s;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.access-button:hover {
    cursor: pointer;
    transform: scale(105%);
    transition: 0.5s;
}

#image_1 { background: linear-gradient(90deg, hsla(135, 53%, 50%, 1) 0%, hsla(217, 78%, 69%, 1) 100%); }
#image_2 { background: linear-gradient(90deg, hsla(229, 54%, 47%, 1) 2%, hsla(281, 80%, 51%, 1) 100%); }
#image_3 { background: linear-gradient(90deg, hsla(352, 54%, 47%, 1) 2%, hsla(34, 80%, 51%, 1) 100%); }
#image_4 { background: linear-gradient(90deg, hsla(175, 54%, 47%, 1) 2%, hsla(34, 80%, 51%, 1) 100%); }

/* width */
::-webkit-scrollbar {
    width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent
}

/* Handle */
::-webkit-scrollbar-thumb {
    background:  white;
    border-radius: 5px;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}